
body {
  margin: 0;
  background-color: #111;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
}
#globeViz {
  width: 100vw;
  height: 100vh;
}
.popup {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #1a1a1a;
  border: 1px solid #444;
  padding: 20px;
  border-radius: 10px;
  display: none;
  max-width: 300px;
}
.popup h2 {
  margin-top: 0;
}
.popup button {
  margin-top: 10px;
  background: #f52c2c;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
